<?xml version="1.0"?>
<appSettings>
	<add key="ADAppGroup" value="PROYECT" />
	<add key="ADAdminGroup" value="PROYECT-AdmPROYECT-xxxx" />
  <add key="ADEnteGroup" value="PROYECT-EnteCooperador-xxxx" />
	<add key="SolicitudValidez" value="30" />
  <add key="LiquidacionPlazoDeposito" value="72" />
  
	<add key="ReportServerURL" value="http://localhost/ReportServer" />
	<add key="ReportServerUsername" value="ZVReportingPROYECT" />
	<add key="ReportServerPassword" value="Passw0rd" />
	<add key="ReportServerDomain" value="JUSTICIA" />
	<add key="ReportsPath" value="PROYECT" />

	<add key="SmtpServer" value="mismtpl000.jus.gov.ar"/>
	<add key="MailSenderFrom" value="sinarepi@jus.gov.ar"/>
	<add key="MailSenderFromDisplay" value="PROYECT"/>
  <add key="MailEnte" value="afescina11@hotmail.com"/>
</appSettings>