<?xml version="1.0"?>
<connectionStrings>
  <add name="ProyectContext" providerName="System.Data.SqlClient" connectionString="Server=db-bpm.jus.gov.ar;Database=PROYECT;user id=xxxx;password=xxxxx" />
  <add name="ProyectContext" providerName="System.Data.SqlClient" connectionString="Server=192.168.52.25\SQL2012;Database=PROYECT;user id=xxxx;password=xxxxxx" />
	<add name="ExceptionLog" connectionString="Server=localhost\SQL2012;Database=PROYECTExceptionLog;User Id=sa;Password=Passw0rd;" />
</connectionStrings>
