<?xml version="1.0"?>
<connectionStrings>
	<add name="ProyectContext" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQL2012;Database=PROYECT;user id=xxx;password=xxxxxx" />
	<add name="ExceptionLog" connectionString="Server=localhost\SQL2012;Database=PROYECTExceptionLog;User Id=xx;Password=xxxxxx;" />
</connectionStrings>