<div class="row">
    <div ng-show="tramiteCtrl.tramiteExiste">
        <form name="tramiteCtrl.tramiteForm" class="form-horizontal">
            <!--TABS-->
            <uib-tabset active="active">
                <!--DATOS DEL PAGO-->
                <uib-tab index="0" heading="Datos del Pago" ng-if="!tramiteCtrl.tramite.ReparticionSolicitanteId">
                    <div ng-include src="'app/modules/tramites/Pago.html'"></div>
                </uib-tab>

                <!--SOLICITANTE-->
                <uib-tab index="1" heading="Solicitante">
                    <div ng-include src="'app/modules/tramites/Solicitante.html'"></div>
                </uib-tab>

                <!--SOLICITUD-->
                <uib-tab index="2" heading="Solicitud">
                    <div ng-include src="'app/modules/tramites/Solicitud.html'"></div>
                </uib-tab>

                <!--PERSONA-->
                <uib-tab index="3" heading="Persona" ng-if="tramiteCtrl.tramite.Entidad.Persona">
                    <div ng-include src="'app/modules/tramites/Persona.html'"></div>
                </uib-tab>

                <!--INMUEBLE-->
                <uib-tab index="4" heading="Inmueble" ng-if="tramiteCtrl.tramite.Entidad.Inmueble">
                    <div ng-include src="'app/modules/tramites/Inmueble.html'"></div>
                </uib-tab>

                <!--TITULAR PESONA JURIDICA-->
                <uib-tab index="5" heading="Titular Persona Jurídica" ng-if="tramiteCtrl.showTabTitularPersonaJuridica">
                    <div ng-include src="'app/modules/tramites/TitularPersonaJuridica.html'"></div>
                </uib-tab>

                <!--TITULAR PERSONA FISICA-->
                <uib-tab index="6" heading="Titular Persona Humana" ng-if="tramiteCtrl.showTabTitularPersonaFisica">
                    <div ng-include src="'app/modules/tramites/TitularPersonaFisica.html'"></div>
                </uib-tab>

                <!--DATOS ADICIONALES-->
                <uib-tab index="7" heading="Datos Adicionales">
                    <div ng-include src="'app/modules/tramites/Observacion.html'"></div>
                </uib-tab>
            </uib-tabset>

            <div class="margin-bottom">
                <!--<button type="submit" class="btn btn-primary">Registrar Trámite</button>-->
                <a href="#/registrartramites" class="btn btn-link">Atrás</a>
            </div>

        </form>
    </div>
    <div ng-show="tramiteCtrl.tramiteInexistente">
        <span class="text-danger">Solicitud no encontrada.</span>
    </div>
</div>