<div>
    <div ng-hide="controller.jurisdiccionInexistente">
        <form name="controller.jurisdiccionForm" class="form-horizontal" novalidate ng-submit="controller.guardar()">
            <!--VALIDATION SUMMARY-->
            <div class="row alert alert-danger" ng-if="controller.validationErrors.formErrors.length > 0">
                <ul>
                    <li ng-repeat="formError in controller.validationErrors.formErrors">
                        <span>{{formError}}</span>
                    </li>
                </ul>
            </div>

            <!--DATOS PRINCIPALES-->
            <div class="panel panel-default">
                <div class="panel-heading">Datos Principales</div>
                <div class="panel-body">

                    <div class="col-sm-12">
                        <!--DENOMINACION PROYECT-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Descripcion}" ng-if="controller.esProyect">
                            <label class="col-sm-3 control-label">Denominación</label>
                            <div class="col-sm-9">
                                <input type="text" name="denominacion" class="form-control" placeholder="Denominación" ng-model="controller.jurisdiccion.Descripcion" maxlength="250" required />
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.denominacion.$error.maxlength">La longitud máxima del campo Denominación es de 250 caracteres.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.denominacion.$error.required">El campo Denominación es obligatorio.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Descripcion" ng-repeat="error in controller.validationErrors.elementErrors.Descripcion">
                                    {{error}}
                                </span>
                            </div>
                        </div>

                        <!--DENOMINACION JURISDISCCION-->
                        <div class="form-group form-group-sm" ng-if="controller.esJurisdisccion">
                            <label class="col-sm-3 control-label">Denominación</label>
                            <div class="col-sm-9">
                                <span>{{controller.jurisdiccion.Descripcion}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6" ng-if="controller.esProyect">
                        <!--ESTADO-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.TipoEstadoAdhesionId}" access="PROYECT">
                            <label class="col-sm-6 control-label">Estado de Adhesión</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="tipoEstadoAdhesion" ng-model="controller.jurisdiccion.TipoEstadoAdhesionId"
                                        ng-options="tipoEstadoAdhesion.Id as tipoEstadoAdhesion.Descripcion for tipoEstadoAdhesion in controller.tipoEstadoAdhesiones" required>
                                    <option value="">Seleccione Estado de Adhesión</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.tipoEstadoAdhesion.$error.required">El campo Estado de Adhesión es obligatorio.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.TipoEstadoAdhesionId" ng-repeat="error in controller.validationErrors.elementErrors.TipoEstadoAdhesionId">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6" ng-if="controller.esProyect">
                        <!--ORDEN-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Orden}" access="PROYECT">
                            <label class="col-sm-6 control-label">Orden en la Lista</label>
                            <div class="col-sm-6">
                                <input type="number" name="orden" class="form-control" placeholder="Orden en la Lista" ng-model="controller.jurisdiccion.Orden" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.orden.$error.number">El campo Orden en la Lista es inválido. Solo se permiten caracteres numéricos.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Orden" ng-repeat="error in controller.validationErrors.elementErrors.Orden">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!--NOMBRES-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Autoridad}">
                            <label class="col-sm-3 control-label">Nombres</label>
                            <div class="col-sm-9">
                                <input type="text" name="nombres" class="form-control" placeholder="Nombres" ng-model="controller.jurisdiccion.Autoridad" maxlength="100" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.nombres.$error.maxlength">La longitud máxima del campo Nombres es de 100 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Autoridad" ng-repeat="error in controller.validationErrors.elementErrors.Autoridad">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--CUIT-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Cuit}">
                            <label class="col-sm-6 control-label">CUIT/CUIL</label>
                            <div class="col-sm-6">
	                            <input type="number" name="cuit" class="form-control" placeholder="CUIT/CUIL" ng-model="controller.jurisdiccion.Cuit" 
									   ng-disabled="controller.esProyect" cuit tooltip-placement="bottom" uib-tooltip="CUIT/CUIL (sin guiones ni espacios)" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.cuit.$error.number">El campo CUIT/CUIL. Solo se permiten caracteres numéricos.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.cuit.$error.cuit">El campo CUIT/CUIL no contiene un CUIT/CUIL válido. Verifíquelo e ingréselo nuevamente</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Cuit" ng-repeat="error in controller.validationErrors.elementErrors.Cuit">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--SIGLA-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Sigla}">
                            <label class="col-sm-6 control-label">Sigla de Jurisdicción</label>
                            <div class="col-sm-6">
                                <input type="text" name="sigla" class="form-control" placeholder="Sigla de Jurisdicción" ng-model="controller.jurisdiccion.Sigla" ng-required="controller.esJurisdisccion" maxlength="6" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.sigla.$error.required">El campo Sigla de Jurisdicción es obligatorio.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.sigla.$error.maxlength">La longitud máxima del campo Sigla de Jurisdicción es de 6 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Sigla" ng-repeat="error in controller.validationErrors.elementErrors.Sigla">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--TELEFONO-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Telefono}">
                            <label class="col-sm-6 control-label">Teléfono</label>
                            <div class="col-sm-6">
                                <input type="text" name="telefono" class="form-control" placeholder="Teléfono" ng-model="controller.jurisdiccion.Telefono" maxlength="20" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.telefono.$error.maxlength">La longitud máxima del campo Teléfono es de 20 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Telefono" ng-repeat="error in controller.validationErrors.elementErrors.Telefono">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--EMAIL1-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Email1}">
                            <label class="col-sm-6 control-label">Correo Electrónico</label>
                            <div class="col-sm-6">
                                <input type="email" name="email1" class="form-control" placeholder="Correo Electrónico" ng-model="controller.jurisdiccion.Email1" maxlength="100" ng-disabled="controller.esProyect" ng-required="controller.esJurisdisccion" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.email1.$error.required">El campo Correo Electrónico es obligatorio</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.email1.$error.email">El campo Correo Electrónico es inválido</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.email1.$error.maxlength">La longitud máxima del campo Correo Electrónico es de 100 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Email1" ng-repeat="error in controller.validationErrors.elementErrors.Email1">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--EMAIL2-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Email2}">
                            <label class="col-sm-6 control-label">Correo Electrónico 2</label>
                            <div class="col-sm-6">
                                <input type="email" name="email2" class="form-control" placeholder="Correo Electrónico 2" ng-model="controller.jurisdiccion.Email2" maxlength="100" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.email2.$error.email">El campo Correo Electrónico 2 es inválido.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.email2.$error.maxlength">La longitud máxima del campo Correo Electrónico 2 es de 100 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Email2" ng-repeat="error in controller.validationErrors.elementErrors.Email2">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--RECIBIR CORREO-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
                            <label class="col-sm-6 control-label">Recibir Correo</label>
                            <div class="col-sm-6">
                                <input type="checkbox" name="recibirMail" placeholder="Correo Electrónico" ng-model="controller.jurisdiccion.RecibirMail" ng-disabled="controller.esProyect" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <!--URL-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Url}">
                            <label class="col-sm-3 control-label">URL</label>
                            <div class="col-sm-9">
                                <input type="text" name="url" class="form-control" placeholder="URL" ng-model="controller.jurisdiccion.Url" maxlength="250" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.url.$error.maxlength">La longitud máxima del campo URL es de 250 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Url" ng-repeat="error in controller.validationErrors.elementErrors.Url">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--DOMICILIO-->
            <div class="panel panel-default">
                <div class="panel-heading">Domicilio</div>
                <div class="panel-body">

                    <div class="col-sm-12">
                        <!--DIRECCION-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Direccion}">
                            <label class="col-sm-3 control-label">Dirección</label>
                            <div class="col-sm-9">
                                <input type="text" name="direccion" class="form-control" placeholder="Dirección" ng-model="controller.jurisdiccion.Direccion" maxlength="250" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.direccion.$error.maxlength">La longitud máxima del campo Dirección es de 250 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.Direccion" ng-repeat="error in controller.validationErrors.elementErrors.Direccion">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>
					<div class="col-sm-6">
						<!--<div class="col-md-6">-->
							<!--PROVINCIA PROYECT-->
							<div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-if="controller.esProyect" ng-class="{'has-error': controller.validationErrors.elementErrors.ProvinciaId}">
								{{controller.validationErrors.elementErrors.ProvinciaId}}
								<label class="col-sm-6 control-label">Provincia</label>
								<div class="col-sm-6">
									<select class="form-control" name="provincia" ng-model="controller.jurisdiccion.ProvinciaId"
											ng-options="provincia.Id as provincia.Descripcion for provincia in controller.provincias"
											ng-change="controller.fillSelectLocalidades()" required>
										<option value="">Seleccione Provincia</option>
									</select>
								</div>
								<div class="col-sm-6 col-sm-offset-6">
									<p class="help-block" ng-if="controller.jurisdiccionForm.provincia.$error.required">El campo Provincia es obligatorio</p>
									<span class="help-block" ng-if="controller.validationErrors.elementErrors.ProvinciaId" ng-repeat="error in controller.validationErrors.elementErrors.ProvinciaId">
										{{error}}
									</span>
								</div>
							</div>

							<!--PROVINCIA JURISDISCCION-->
							<div class="form-group form-group-sm" ng-if="controller.esJurisdisccion">
								<label class="col-sm-6 control-label">Provincia</label>
								<div class="col-sm-6">
									<span>{{controller.jurisdiccion.ProvinciaDescripcion}}</span>
								</div>
							</div>

							<!--LOCALIDAD-->
							<div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.LocalidadId}">
								<label class="col-sm-6 control-label">Localidad</label>
								<div class="col-sm-6">
									<select class="form-control" name="localidad" ng-model="controller.jurisdiccion.LocalidadId" ng-disabled="controller.esProyect"
											ng-options="localidad.Id as localidad.Descripcion for localidad in controller.localidades">
										<option value="">Seleccione Localidad</option>
									</select>
								</div>
								<div class="col-sm-6 col-sm-offset-6">
									<span class="help-block" ng-if="controller.validationErrors.elementErrors.LocalidadId" ng-repeat="error in controller.validationErrors.elementErrors.LocalidadId">
										{{error}}
									</span>
								</div>
							</div>
						<!--</div>-->

					</div>

	                <!--<div class="col-md-6">
                        
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-if="controller.esProyect" ng-class="{'has-error': controller.validationErrors.elementErrors.GrupoAd}">
                            <label class="col-sm-6 control-label">Grupo Active Directory</label>
                            <div class="col-sm-6">
                                <input type="text" name="grupoAd" class="form-control" placeholder="Grupo Active Directory" ng-model="controller.jurisdiccion.GrupoAd" maxlength="255" required />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.grupoAd.$error.required">El campo Grupo Active Directory es obligatorio.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.grupoAd.$error.maxlength">La longitud máxima del campo Grupo Active Directory es de 255 caracteres.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.GrupoAd" ng-repeat="error in controller.validationErrors.elementErrors.GrupoAd">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>-->

	                <!--<div class="col-md-6">

		                <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.LocalidadId}">
			                <label class="col-sm-6 control-label">Localidad</label>
			                <div class="col-sm-6">
				                <select class="form-control" name="localidad" ng-model="controller.jurisdiccion.LocalidadId" ng-disabled="controller.esProyect"
				                        ng-options="localidad.Id as localidad.Descripcion for localidad in controller.localidades">
					                <option value="">Seleccione Localidad</option>
				                </select>
			                </div>
			                <div class="col-sm-6 col-sm-offset-6">
				                <span class="help-block" ng-if="controller.validationErrors.elementErrors.LocalidadId" ng-repeat="error in controller.validationErrors.elementErrors.LocalidadId">
                                    {{error}}
                                </span>
			                </div>
		                </div>
	                </div>-->
	                <div class="col-sm-6">
						<!--CODIGO POSTAL-->
		                <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.CodigoPostal}">
			                <label class="col-sm-6 control-label">Código Postal</label>
			                <div class="col-sm-6">
				                <input type="text" name="codigopostal" class="form-control" placeholder="Código Postal" tooltip-placement="bottom"
				                       uib-tooltip-template="'tooltipCP.html'" pattern="^(\d{4}|[A-HJ-TP-Z]{1}\d{4}[A-Z]{3}|[a-z]{1}\d{4}[a-hj-tp-z]{3})$"
				                       ng-model="controller.jurisdiccion.CodigoPostal" ng-disabled="controller.esProyect"/>
			                </div>
			                <div class="col-sm-6 col-sm-offset-6">
				                <p class="help-block" ng-if="controller.jurisdiccionForm.codigopostal.$error.pattern">El campo Código Postal es inválido. Formatos permitidos: 9999 (CP antiguo) ó X9999YYY (Nuevo CPA)</p>
				                <span class="help-block" ng-if="controller.validationErrors.elementErrors.CodigoPostal" ng-repeat="error in controller.validationErrors.elementErrors.CodigoPostal">
									{{error}}
								</span>
			                </div>
		                </div>

						<!--GRUPO AD-->
						<div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-if="controller.esProyect" ng-class="{'has-error': controller.validationErrors.elementErrors.GrupoAd}">
							<label class="col-sm-6 control-label">Grupo Active Directory</label>
							<div class="col-sm-6">
								<input type="text" name="grupoAd" class="form-control" placeholder="Grupo Active Directory" ng-model="controller.jurisdiccion.GrupoAd" maxlength="255" required />
							</div>
							<div class="col-sm-6 col-sm-offset-6">
								<p class="help-block" ng-if="controller.jurisdiccionForm.grupoAd.$error.required">El campo Grupo Active Directory es obligatorio.</p>
								<p class="help-block" ng-if="controller.jurisdiccionForm.grupoAd.$error.maxlength">La longitud máxima del campo Grupo Active Directory es de 255 caracteres.</p>
								<span class="help-block" ng-if="controller.validationErrors.elementErrors.GrupoAd" ng-repeat="error in controller.validationErrors.elementErrors.GrupoAd">
									{{error}}
								</span>
							</div>
						</div>
	                </div>

                    <!--<div class="col-md-6">
                        
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.CodigoPostal}">
                            <label class="col-sm-6 control-label">Código Postal</label>
                            <div class="col-sm-6">
                                <input type="text" name="codigopostal" class="form-control" placeholder="Código Postal" tooltip-placement="bottom"
                                       uib-tooltip-template="'tooltipCP.html'" pattern="^(\d{4}|[A-HJ-TP-Z]{1}\d{4}[A-Z]{3}|[a-z]{1}\d{4}[a-hj-tp-z]{3})$"
                                       ng-model="controller.jurisdiccion.CodigoPostal" ng-disabled="controller.esProyect" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.codigopostal.$error.pattern">El campo Código Postal es inválido. Formatos permitidos: 9999 (CP antiguo) ó X9999YYY (Nuevo CPA)</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.CodigoPostal" ng-repeat="error in controller.validationErrors.elementErrors.CodigoPostal">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>

            <!--PLAZOS-->
            <div class="panel panel-default">
                <div class="panel-heading">Plazos</div>
                <div class="panel-body">

                    <div class="col-sm-6">
                        <!--PLAZO OBSERVACION-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.PlazoObservacion}">
                            <label class="col-sm-6 control-label">Plazo de Observación</label>
                            <div class="col-sm-6">
                                <input type="number" name="plazoObservacion" class="form-control" placeholder="Plazo de Observación" ng-model="controller.jurisdiccion.PlazoObservacion" ng-disabled="controller.esProyect" min="0" max="32767" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.plazoObservacion.$error.number">El campo Plazo de Observación es inválido. Solo se permiten caracteres numéricos.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.plazoObservacion.$error.min">El campo Plazo de Observación debe ser mayor o igual que 0.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.plazoObservacion.$error.max">El campo Plazo de Observación debe ser menor o igual que 32767.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.PlazoObservacion" ng-repeat="error in controller.validationErrors.elementErrors.PlazoObservacion">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!--PLAZO RETIRO-->
                        <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.PlazoRetiroDocumentacion}">
                            <label class="col-sm-6 control-label">Plazo de retiro de Documentación</label>
                            <div class="col-sm-6">
                                <input type="number" name="plazoRetiroDocumentacion" class="form-control" placeholder="Plazo de retiro de Documentación" ng-model="controller.jurisdiccion.PlazoRetiroDocumentacion" ng-disabled="controller.esProyect" min="0" max="32767" />
                            </div>
                            <div class="col-sm-6 col-sm-offset-6">
                                <p class="help-block" ng-if="controller.jurisdiccionForm.plazoRetiroDocumentacion.$error.number">El campo Plazo de retiro de Documentación es inválido. Solo se permiten caracteres numéricos.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.plazoRetiroDocumentacion.$error.min">El campo Plazo de Observación debe ser mayor o igual que 0.</p>
                                <p class="help-block" ng-if="controller.jurisdiccionForm.plazoRetiroDocumentacion.$error.max">El campo Plazo de Observación debe ser menor o igual que 32767.</p>
                                <span class="help-block" ng-if="controller.validationErrors.elementErrors.PlazoRetiroDocumentacion" ng-repeat="error in controller.validationErrors.elementErrors.PlazoRetiroDocumentacion">
                                    {{error}}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--OBSERVACION-->
            <div class="panel panel-default" access="PROYECT">
                <div class="panel-heading">Observación</div>
                <div class="panel-body">

                    <!--OBSERVACION-->
                    <div class="form-group form-group-sm" show-errors="{showSuccess: true}" ng-class="{'has-error': controller.validationErrors.elementErrors.Observacion}">
                        <div class="col-sm-12">
                            <textarea name="observacion" rows="4" class="form-control" ng-model="controller.jurisdiccion.Observacion" maxlength="1000"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <p class="help-block" ng-if="controller.jurisdiccionForm.observacion.$error.maxlength">La longitud máxima del campo Observación es de 1000 caracteres.</p>
                        </div>
                        <div class="col-sm-12">
                            <span class="help-block" ng-if="controller.validationErrors.elementErrors.Observacion" ng-repeat="error in controller.validationErrors.elementErrors.Observacion">
                                {{error}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" busy="<i class='fa fa-spinner fa-spin'></i> Guardando..." busy-disabled="true">Guardar</button>
                <a href="#/jurisdicciones" class="btn btn-link">Cancelar</a>
            </div>

            <script type="text/ng-template" id="tooltipCP.html">
                <span>Formatos permitidos:<br />1) 9999 - CP Antiguo<br />2) X9999YYY - Nuevo CPA</span>
            </script>

        </form>
    </div>
    <div ng-show="controller.jurisdiccionInexistente">
        <span class="text-danger">Jurisdiccion no encontrado.</span>
    </div>
</div>