<form name="personaJuridicaCtrl.personaJuridicaForm" class="form-horizontal" novalidate ng-submit="personaJuridicaCtrl.aceptarPersonaJuridica()">
    <div class="col-sm-6">
        <!--DENOMINACION-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">Razon Social</label>
            <div class="col-sm-8">
                <input type="text" name="razonSocial" class="form-control" placeholder="Razon Social" ng-model="personaJuridicaCtrl.personaJuridica.RazonSocial" maxlength="250" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.razonSocial.$error.maxlength">La longitud máxima del campo Razon Social es de 250 caracteres.</p>
            </div>
        </div>
        <!--INSCRIPCION-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">Inscripción</label>
            <div class="col-sm-8">
                <input type="text" name="sociedadIGJId" class="form-control" placeholder="Inscripción" ng-model="personaJuridicaCtrl.personaJuridica.SociedadIGJId" maxlength="20" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.sociedadIGJId.$error.maxlength">La longitud máxima del campo Inscripción es de 20 caracteres.</p>
            </div>
        </div>
        <!--DOMICILIO-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">Domicilio</label>
            <div class="col-sm-8">
	            <input type="text" name="domicilio" class="form-control" placeholder="Domicilio" ng-model="personaJuridicaCtrl.personaJuridica.Domicilio" 
					   maxlength="250" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.domicilio.$error.maxlength">La longitud máxima del campo Domicilio es de 250 caracteres.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <!--CUIT-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">CUIT</label>
            <div class="col-sm-8">
	            <input type="number" name="personaJuridicaCuit" class="form-control" placeholder="CUIT" ng-model="personaJuridicaCtrl.personaJuridica.Cuit"
					   cuit tooltip-placement="bottom" uib-tooltip="CUIT/CUIL (sin guiones ni espacios)" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.personaJuridicaCuit.$error.number">El campo CUIT/CUIL. Solo se permiten caracteres numéricos.</p>
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.personaJuridicaCuit.$error.cuit">El campo CUIT no contiene un CUIT válido. Verifíquelo e ingréselo nuevamente</p>
            </div>
        </div>
        <!--MATRICULA-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">Matrícula</label>
            <div class="col-sm-8">
                <input type="text" name="matricula" class="form-control" placeholder="Matrícula" ng-model="personaJuridicaCtrl.personaJuridica.Matricula" maxlength="100" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.personaJuridicaMatricula.$error.maxlength">La longitud máxima del campo Matrícula del PersonaJuridica es de 100 caracteres.</p>
            </div>
        </div>
        <!--TOMO-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">Tomo / Año / Libro</label>
            <div class="col-sm-8">
                <input type="text" name="tomo" class="form-control" placeholder="Tomo / Año / Libro" ng-model="personaJuridicaCtrl.personaJuridica.Tomo" maxlength="4" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.tomo.$error.maxlength">La longitud máxima del campo Tomo / Año / Libro es de 4 caracteres.</p>
            </div>
        </div>
        <!--FOLIO-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-4 control-label">Folio</label>
            <div class="col-sm-8">
                <input type="text" name="folio" class="form-control" placeholder="Folio" ng-model="personaJuridicaCtrl.personaJuridica.Folio" maxlength="4" ng-disabled="personaJuridicaCtrl.action === 'DELETE'" />
            </div>
            <div class="col-sm-8 col-sm-offset-4">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.folio.$error.maxlength">La longitud máxima del campo Folio es de 4 caracteres.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-if="personaJuridicaCtrl.action !== 'POST'">
        <!--OBSERVACION-->
        <div class="form-group form-group-sm" show-errors="{showSuccess: true}">
            <label class="col-sm-2 control-label">Observación</label>
            <div class="col-sm-10">
                <textarea name="personaJuridicaObservacion" rows="4" class="form-control" ng-model="personaJuridicaCtrl.personaJuridica.Observacion" required></textarea>
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <p class="help-block" ng-if="personaJuridicaCtrl.personaJuridicaForm.personaJuridicaObservacion.$error.required">El campo Observación es obligatorio.</p>
            </div>
        </div>
    </div>
</form>